@import "../colors";

.text-component {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #text-input {
    width: 90%;
    height: 80%;
    padding: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    line-height: 130%;
  }

  .send {
    border-radius: 50%;

    &.icon-button {
      background-color: transparent;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      align-items: center;

      &hover {
        color: $light_blue;
        cursor: pointer;
      }
    }

    &:hover {
      background-color: $light_blue;
    }

    .fa-paper-plane {
      padding-right: 2px;
    }
  }
}

::placeholder {
  font-size: 15px;
}
